<div class="text-center">
    <h1 class="display-4">Informações do Aluno</h1>
    <hr />
    <p><strong>Nome:</strong> @ViewBag.Nome</p>
    <p><strong>Curso:</strong> @ViewBag.Curso</p>
    <p><strong>Semestre:</strong> @ViewBag.Semestre</p>
    <a href="/Aluno/Detalhes/1" class="btn btn-primary">Ver Detalhes do Aluno 1</a>
</div>
